

<a href="{% url "games" %}"><button>Hide Completed Games</button></a>
<br clear="both">

{% for scoreboard in scoreboards %}

    <div class="column-12 clear-both">
        <img class="team-logo" src="{{ scoreboard.game.away_team.logo }}">
        <img class="team-logo" src="{{ scoreboard.game.home_team.logo }}">
        <h3>
            <a href="{% url "live_game_blog" scoreboard.game.pk %}">
            {% if scoreboard.game.away_rank %}no. {{ scoreboard.game.away_rank }} {% endif %}{{ scoreboard.game.away_team }}<em>{% if scoreboard.game.neutral_site %} vs. {% else %} @ {% endif %}</em>{% if scoreboard.game.home_rank %}no. {{ scoreboard.game.home_rank }} {% endif %}{{ scoreboard.game.home_team }}</a>
            
            </a>
        </h3>
        <p>
            {{ scoreboard.game.away_team }} {{ scoreboard.game.away_team.mascot }}{% if scoreboard.game.away_seed %} ({{ scoreboard.game.away_seed }}-seed){% endif %}{% if scoreboard.game.away_nat_seed %}(#{{ scoreboard.game.away_nat_seed }} National Seed){% endif %}: {{ scoreboard.away_runs }}
        </p>
        <p>
            {{ scoreboard.game.home_team }} {{ scoreboard.game.home_team.mascot }}{% if scoreboard.game.home_seed %} ({{ scoreboard.game.home_seed }}-seed){% endif %}{% if scoreboard.game.home_nat_seed %}(#{{ scoreboard.game.home_nat_seed }} National Seed){% endif %}: {{ scoreboard.home_runs }}      
        </p>
        <p>
            {{ scoreboard.game.first_pitch }}
            {% if scoreboard.game.event %}{{ scoreboard.game.event }}.{% endif %}
        </p>
        {% if user.is_authenticated %}
            <h3><a href="{% url "edit_live_game_blog" scoreboard.game.pk %}">Edit or Add to Game Blog</a></h3>
        {% endif %}
        <div class="column-3"></div>
    </div>

    <div class="column-12 clear-both">    
        <p></p>
        <hr class="crimson">
    </div>

    
{% endfor %}