
<div class="column-3"></div>
<div class="column-6" id="past-button">
    <a href="{% url "games" %}"><button>Hide Completed Games</button></a>
</div>
<br clear="both">

{% for scoreboard in scoreboards %}
    <div class="column-3"></div>
    <div class="column-6">
        <img class="team-logo" src="{{ scoreboard.game.away_team.logo }}">
        <img class="team-logo" src="{{ scoreboard.game.home_team.logo }}">
        <h2><a href="{% url "live_game_blog" scoreboard.game.pk %}"><h2>
        {{ scoreboard.game.away_team }}-{{ scoreboard.away_runs }}
            {% if scoreboard.game.neutral_site %} versus {% else %} at {% endif %}
        {{ scoreboard.game.home_team }}-{{ scoreboard.home_runs }}
        </h2></a>
        <h3>{{ scoreboard.game.first_pitch }}</h3>
        {% if user.is_authenticated %}
        <h2><a href="{% url "edit_live_game_blog" scoreboard.game.pk %}">Edit or Add to Game Blog</a></h2>
        {% endif %}
        <hr class="crimson">
    </div>
<br clear="both">
{% endfor %}