<div id="annual-rosters">
    <div id="add-roster-year-control">
        {% if perms.player_tracking.add_annualroster %}
            <button class="add-button"
                hx-get="{% url "add_roster_year" player.pk %}"
                hx-target="#add-roster-year-control">add roster year</button>
        {% endif %}
    </div>
    <div id="add-roster-accolade-control">
        {% if perms.player_tracking.add_accolade %}
            <button class="add-button"
                hx-get="{% url "add_accolade" player.pk %}"
                hx-target="#add-roster-accolade-control"
                hx-headers='{"X-Player-Section": "annual-rosters"}'>add accolade</button>
        {% endif %}
    </div>

    <ul>
        {% for roster in rosters %}
            <li>
                <div id="edit-roster-{{ roster.pk }}-control">
                    {% if perms.player_tracking.change_annualroster %}
                        <button class="edit-button"
                            hx-get="{% url "edit_roster_year" roster.pk %}"
                            hx-target="#edit-roster-{{ roster.pk }}-control">edit roster year</button>
                    {% endif %}
                </div>
                <h2>{{ roster.spring_year }} {{ roster.team.team_name }}</h2>
                <p>{{ roster.status }} - {{ roster.primary_position }}</p>
                <ul>
                    {% for accolade in accolades %}
                        {% if accolade.annual_roster == roster %}
                            <li>
                                <p>
                                    {{ accolade.award_date }}:
                                    {% if accolade.citation %}
                                        <a target="_blank" href="{{ accolade.citation }}">{{ accolade.award_org }} {{ accolade.name }}</a>
                                    {% else %}
                                        {{ accolade.award_org }} {{ accolade.name }}
                                    {% endif %}
                                </p>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <hr>
        {% endfor %}
    </ul>
</div>
