<div id="fall-roster-entry">
    <div class="column-12 clear-both">
        <div class="column-3"></div>
        <div class="column-6">
            <h3>Enter Fall {{ fall_year }} Roster</h3>
            <form
                method="post"
                action="{% url 'enter_fall_roster' fall_year %}"
                hx-post="{% url 'enter_fall_roster' fall_year %}"
                hx-target="#fall-roster-entry"
                hx-swap="outerHTML">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for player, form in player_forms %}
                    <hr>
                    <div class="fall-roster-player">
                        <h2>
                            <a href="{% url 'single_player_page' player.pk %}">
                                {{ player.first }} {{ player.last }}
                            </a>
                        </h2>
                        {{ form.player }}
                        {{ form.jersey.label_tag }}
                        {{ form.jersey }}
                        {{ form.primary_position.label_tag }}
                        {{ form.primary_position }}
                        {{ form.errors }}
                    </div>
                {% endfor %}
                <button class="add-button" type="submit">Save Fall Roster</button>
            </form>
        </div>
    </div>
</div>
