<div id="player-info">
    <div class="player-heading roster-heading">
        <h1>{{ page_title }}</h1>
        <div id="edit-player-info-control">
            {% if perms.player_tracking.change_player %}
                <button class="edit-button"
                    hx-get="{% url "edit_player" player.pk %}"
                    hx-target="#player-info-content"
                    aria-label="Edit player info"
                    title="Edit player info">✏️</button>
            {% endif %}
        </div>
    </div>
    {% include "player_tracking/partials/player_info_content.html" %}
</div>
