{% include "player_tracking/includes/fall_nav.html" %}

{% include "player_tracking/includes/incoming.html" %}

{% include "player_tracking/includes/projection_header.html" %}

<div class="column-12 clear-both"> 
    <div class="column-3"></div>
    <div class="column-6"> 
        <button hx-get="{% url 'projected_players_fall_depth' fall_year %}" hx-target="#fall-content" hx-push-url="true">Switch to Depth Listing</button>
    </div>    
</div>

{% for player in players %}
<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">
        <img src="{{ player.headshot }}" class="thumbnail">
        <h2><a href="{% url "single_player_page" player.pk %}">{{player.first}} {{player.last}}</a></h2>
        {% if player.draft %}<p><em>{{ player.draft }}</em></p>{% endif %}
    <p>Bats {{ player.bats }}/Throws {{ player.throws }} | {{ player.position }} | {{ player.group }}</p> 
    </div>
</div>
{% endfor %}