
{% block content %}
<div class="column-12"></div>
    <div class="column-3"></div>
    <div class="column-6">
        <div class="column-4" id="prior-button">
            <button hx-get="{% url 'fall_players_redirect' prior_fall %}" hx-target="#fall-content">Prior Fall</button>
        </div>

        <div class="column-4" id="current-button">
        </div>

        <div class="column-4" id="future-button">
            <button hx-get="{% url 'fall_players_redirect' next_fall %}" hx-target="#fall-content">Next Fall</button>
        </div>


    </div>
</div>
<br clear="both">

<div class="column-12">
        <h3>{{ page_title }}</h3>
        <h3>Total Roster Length: {{ total }}</h3>
        <ul>
        {% for player in players%}
            <li>
                <h3>{{ player.jersey }}. <a href="{% url "single_player_page" player.player.pk %}">{{player.player.first}} {{player.player.last}}</a></h3>
                    
                <p>
                    {% if player.primary_position == "Pitcher" %}{{ player.player.throws}}-Handed{% endif %}
                    {{ player.primary_position }}
                    {% if player.secondary_position %}/ {{ player.secondary_position}}{% endif %}
                    {% if player.status != "Spring Roster" %}
                        <em>- {{ player.status }}</em>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>
</div>
{% endblock %}