@media only screen and (min-width: 1400px) {

/*---------HEADER----------*/

header, nav, .row, footer {
	max-width: 1140px;
	margin: 0 auto;
}


/*-------NAV---------*/


/*--------BACKGROUND---------*/
.bg {
	background-image: url("https://live.staticflickr.com/65535/53652314882_aa3066a4a2_4k.jpg");
}


/*-------COLUMNS----------*/
.column-2 {
	width: 16.6666%;
}	
	

}  /*end of the media query*/
