{% extends "base.html" %}

{% block title %}iubase.com Application Index{% endblock %}

{% block content %}

<div class="column-12 clear-both">
    <div class="column-3"></div>

    <div class="column-6">
        <ul>

            <img  class="fade-me-in-2s" src="https://live.staticflickr.com/65535/54525303448_4da1205b5d_o.jpg" id="player-photo">
            <li><h2><a href="{% url "games" %}">Live Game Blogs</a></h2></li>
            <li><h2><a href="{% url "pt_index" %}">Player Tracking</a></h2></li>
            <li><h2><a href="{% url "conf_index" %}">Conference</a></h2></li>

            {% if perms.index.view_trafficcounter %}
            <li><h2><a href="{% url "current_months_traffic" %}">Current Month's Traffic</a></h2></li>
            {% endif %}

        </ul>

            {% if perms.index.delete_trafficcounter %}
            <br>
            <hr>
            <button hx-delete="{% url "last_months_traffic" %}" 
                hx-confirm="Are you sure you want to DELETE last months traffic data? This is not reversible"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-swap="none">
                DELETE Last Month's Traffic
            </button>
            <hr>
            {% endif %}



    </div>

    <div class="column-3"></div>
</div>

{% endblock %}