[project]
name = "iubase"
version = "2025.11.24.0916"
requires-python = "==3.14.0"
dependencies = [
    "asgiref==3.11.0",
    "coverage==7.12.0",
    "django==5.2.8",
    "django-allauth[socialaccount]==65.13.1",
    "execnet==2.1.2",
    "gunicorn==23.0.0",
    "iniconfig==2.3.0",
    "markdown==3.10",
    "packaging==25.0",
    "pluggy==1.6.0",
    "psycopg==3.2.13",
    "psycopg-binary==3.2.13",
    "pytest==9.0.1",
    "pytest-cov==7.0.0",
    "pytest-django==4.11.1",
    "pytest-xdist==3.8.0",
    "python-dotenv==1.2.1",
    "pytz==2025.2",
    "sqlparse==0.5.3",
    "typing-extensions==4.15.0",
]

[tool.uv]
package = false

[tool.ruff]
extend-exclude = ["tests"]

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "django_project.settings"
python_files = "test_*.py"