{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}


{% block content %}
<div class="column-3"></div>
<div class="column-6">
    
    <ul>
    {% if error_exists %}
    {% for error in errors %}
        <li>
            <p>{{ error }}</p>     
        </li>
    {% endfor %}
    {% else %}
        <p>no errors recorded</p>
    {% endif %}

    <ul>
    {% for player in players %}
        <li>
                <h2><a href="{% url "single_player_page" player.pk %}">
                    {{player.first}} {{player.last}} ({{ player.first_spring }}-{{ player.last_spring }})    
                </a></h2> 
        </li>
    {% endfor %}
    </ul>

    <h3>View <a href="{% url "players" %}">list of players</a></h3>
</div>
{% endblock %}