

{% extends "base.html" %}

{% load humanize %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}


{% block content %}
<div class="column-12">
    <div class="column-3"></div>
    <div class="column-6">

        <h3>Count of Players: {{ count }}</h3>

        <ul>
        {% for player in players %}
            {% if player.drafted %}
            <li>
                <h2><a href="{% url "player_rosters" player.pk %}">{{player.first}} {{player.last}}</a></h2>
                <p>Bats {{ player.bats }}/Throws {{ player.throws }} | {{ player.position }} | {{ player.group }}</p> 
                <p>Drafted in Round {{ player.draft_round }} by the {{ player.prof_org }} organization. 
                The pick has a slot value of ${{ player.slot|intcomma }}</p>
                {% if player.signed %}
                   <em><p>{{player.first}} {{player.last}} signed a professional contract with a bonus of ${{ player.bonus|intcomma}}</p></em>
                {% endif %}   
            </li>
            <hr>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}