{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <h1>{{ page_title }}</h1>
    <img id="player-photo" src="{{player.headshot}}">
    {% endblock %}


{% block content %}
<div class="column-3"></div>
<div class="column-6">
    <button hx-get="{% url "add_roster_year" player.pk %}" hx-target="#add_roster_year">add roster year</button>
    <ul>
    {% for roster in rosters%}
        <li><h2>{{roster.spring_year}} {{roster.team.team_name}} </h2>
            <p>{{roster.status}} - {{roster.primary_position}}</p></li>
            <hr>
    {% endfor %}
</div>

<br clear="both">

<div class="column-3"></div>
<div class="column-6" id="add_roster_year">

</div>

{% endblock %}