{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}


{% block content %}

<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">
        <h3>Total Commitments from the Portal: {{ total_in }}</h3>
        <ul>
        {% for transaction in incoming %}
            <li>
                <h3><a href="{% url "single_player_page" transaction.player.pk %}">{{transaction.player.first}} {{transaction.player.last}}</a></h3>
                {% if transaction.other_team %}
                    <p><a href="{{ transaction.citation }}">From {{ transaction.other_team }}</a> on {{ transaction.trans_date }}</p>
                {% else %}
                    <p><a href="{{ transaction.citation }}">From the portal</a> on {{ transaction.trans_date }}</p>
                {% endif %}
                {% if transaction.comment %}
                    <p><em>{{ transaction.comment }}</em></p>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">
        <h3>Total IU Players in the Portal: {{ total_out }}</h3>
        {% if portal_year == "2025" %}
            <p><em>Note: The 2025 standard window for portal entry is June 2 to July 1 for
                rostered players who have not yet graduated.        
        {% endif %}
        </em></p>
        <ul>
        {% for transaction in outgoing %}
            <li>
                <h3><a href="{% url "single_player_page" transaction.player.pk %}">{{transaction.player.first}} {{transaction.player.last}}</a></h3> 
                <p><a href="{{ transaction.citation }}">Entered the portal</a> on {{transaction.trans_date}}
                {% if transaction.comment %}
                    <p><em>{{ transaction.comment }}</em></p>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}