{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<div class="column-12">
    <div class="column-3"></div>
    <div class="column-6">    
            <a href="{% url "add_player" %}"><button>Add Player</button></a></div>
    </div>
</div>
{% endif %}

<div class="column-12">
    <div class="column-3"></div>
    <div class="column-6">
        <h3><a href="{% url "fall_players" this_year %}">Players For Fall {{ this_year }}</a></h3>
        <h3><a href="{% url "portal" this_year %}">Transfer Portal {{ this_year }}</a></h3>
        <h3><a href="{% url "spring_roster" spring %}">Spring {{ spring }} Roster</a></h3>
        <h3><a href="{% url "spring_depth_chart" spring %}">Spring {{ spring }} Depth Chart</a></h3>
        <h3><a href="{% url "fall_players" last_year %}">Players For Fall {{ last_year }}</a></h3>
        <h3><a href="{% url "drafted_players" this_year %}">Players Selected in the {{ this_year }} MLB Draft</a></h3>
        <h3><a href="{% url "draft_combine_attendees" this_year %}">{{ this_year }} Draft Combine Attendees</a></h3>
        <h3><a href="{% url "summer_assignments" this_year %}">Summer {{ spring }} Collegiate League Assignments</a></h3>
        <h3><a href="{% url "players"  %}">All Players in the database</a></h3>
        <p>This player tracking application is new in 2024 and is limited to what has 
        been keyed so far including 2023-24 team and incoming freshman for 2024-25. I am 
        adding more data and features weekly.</p>
        <p>---Carl James, <a href="https://iubase.com">iubase.com</a>.</p>
    </div>
</div>

<br clear="both">
{% endblock %}