{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">    
            <a href="{% url "add_player" %}"><button>Add Player</button></a>
    </div>
</div>
{% endif %}

<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">

        <img  class="fade-me-in-2s" src="https://live.staticflickr.com/65535/54013610622_61d5c92ebc_o.jpg" id="player-photo">

         <!--<h3>Spring {{ spring }} Roster Not Yet Announced</h3>-->
        <h3><a href="{% url "spring_roster" spring %}">Spring {{ spring }} Roster</a></h3>
        <h3><a href="{% url "spring_depth_chart" spring %}">Spring {{ spring }} Depth Chart</a></h3>
        <h3><a href="{% url "incoming_players" this_year %}">Incoming Players For Fall {{ this_year }}</a></h3>
        <h3><a href="{% url "portal" this_year %}">Transfer Portal {{ this_year }}</a></h3>
        <h3><a href="{% url "summer_assignments" this_year %}">Summer {{ spring }} Collegiate League Assignments</a></h3>
        <h3><a href="{% url "fall_players" last_year %}">Players For Fall {{ last_year }}</a></h3>
        <h3><a href="{% url "drafted_players" last_year %}">Players Selected in the {{ last_year }} MLB Draft</a></h3>
        <h3><a href="{% url "draft_combine_attendees" last_year %}">{{ last_year }} Draft Combine Attendees</a></h3>
        <h3><a href="{% url "players"  %}">All Players in the database</a></h3>
        <p>Includes complete publicly available data for players and commits who were on campus from Fall 2023 forward.
            There is some data for before 2023, but it is incomplete and counts will not be accurate.</p>
        <p>---<a href="https://x.com/jovian34">Carl James</a>, <a href="https://iubase.com">iubase.com</a>.</p>
    </div>
</div>

{% endblock %}