{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}


{% block content %}
<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6 red-belt-leaderboard">
        {% for award in red_belt_awards %}
        <div class="red-belt-award">
            <h2>{{ award.title }}</h2>
            {% for group in award.groups %}
            <div class="red-belt-count-group" data-award-count="{{ group.award_count }}">
                <h3>{{ group.award_count }} Red Belt{{ group.award_count|pluralize }}</h3>
                {% if group.is_top_group %}
                <div class="red-belt-leaders">
                    {% for leader in group.leaders %}
                    <figure class="red-belt-leader">
                        <a href="{% url "single_player_page" leader.player__id %}">
                            <img src="{{ leader.player__headshot }}" alt="{{ leader.player__first }} {{ leader.player__last }}">
                            <figcaption class="photo-caption">{{ leader.player__first }} {{ leader.player__last }}</figcaption>
                        </a>
                    </figure>
                    {% endfor %}
                </div>
                {% else %}
                <ul class="red-belt-player-list">
                    {% for leader in group.leaders %}
                    <li><a href="{% url "single_player_page" leader.player__id %}">{{ leader.player__first }} {{ leader.player__last }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% empty %}
            <p>No awards yet for {{ spring_year }}.</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
