{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}

{% block content %}
<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">
        {% for year in years %}
            <button
                hx-get="{% url 'red_belt_entry' year %}"
                hx-target="#red-belt-entry-form"
                hx-push-url="true">{{ year }}</button>
        {% endfor %}
    </div>
</div>

<div id="red-belt-entry-form">
    {% include "player_tracking/partials/red_belt_entry_form.html" %}
</div>
{% endblock %}
