{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}


{% block content %}
<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">
        <h3>Total Roster Length: {{ total }}</h3>
        <ul>
        {% for player in players%}
            <li>
                <h3>{{ player.jersey }}. <a href="{% url "single_player_page" player.player.pk %}">{{player.player.first}} {{player.player.last}}</a></h3>
                    
                <p>
                    {% if player.primary_position == "Pitcher" %}{{ player.player.throws}}-Handed{% endif %}
                    {{ player.primary_position }}
                    {% if player.secondary_position %}/ {{ player.secondary_position}}{% endif %}
                    {% if player.status != "Spring Roster" %}
                        <em>- {{ player.status }}</em>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}