{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}


{% block content %}
<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">
        {% for assign in assignments %}
            <div class="column-12 clear-both">
                <img class="large-headshot" src="{{ assign.player.headshot }}" alt="{{assign.player.first}} {{assign.player.last}}">
                <h3><a href="{% url "single_player_page" assign.player.pk %}">{{ assign.player.first }} {{ assign.player.last }}</a></h3>
                <p>{{ assign.summer_team.name }} {{assign.summer_team.mascot}} 
                of <a href="{{ assign.summer_league.website }}">{{ assign.summer_league.league }} League</a></p>

                {% if assign.source and assign.citation %}
                <p>Source: <a href="{{ assign.citation }}">{{ assign.source }}</a></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}