{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>{% endblock %}


{% block content %}

{% include "live_game_blog/includes/game_list.html" %}

{% include "live_game_blog/includes/add_game_button.html" %}


<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6" id="past-games">
        <button hx-trigger="click" hx-get="{% url "past_games" %}" hx-target="#past-games">Show Completed Games</button>
    </div>
</div>

{% endblock %}