{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}
{% block header %}{{ page_title }}{% endblock %}


{% block content %}

<div class="column-12">
    {% for game in games %}
    <hr>
    <div class="column-12">
        <div class="column-3" hx-get="{% url 'team_logo' game.away_team.pk %}" hx-target="this" hx-trigger="load">{{ game.away_team }}></div>
        <div class="column-6">
            <h2><a href="{% url "index" %}"><h2>
            {{ game.away_team }}
                {% if game.neutral_site %} versus {% else %} at {% endif %}
            {{ game.home_team }}
            </h2></a>
            <h3>{{ game.first_pitch }}</h3>
            {% if user.is_authenticated %}
            <h2><a href="{% url "index" %}">Edit or Add to Game Blog<h2>
            {% endif %}
        </div>
        <div class="column-3" hx-get="{% url 'team_logo' game.home_team.pk %}" hx-target="this" hx-trigger="load"></div>
    </div>
    <br clear="both">
    {% endfor %}
</div>

{% endblock %}