{% extends "base.html" %}

{% block title %}iubase.com Live Game Blog Games{% endblock %}



{% block content %}

<div class="column-12">
    {% for game in games %}
    <hr>
    <div class="column-12">
        <div class="column-3" hx-get="{% url 'team_logo' game.away_team.pk %}" hx-target="this" hx-trigger="load">{{ game.away_team }}></div>
        <div class="column-6">
            <a href="{% url "index" %}"><h2>
            {{ game.away_team }} - {{ game.first_pitch }} - {{ game.home_team }}
            </h2></a>
        </div>
        <div class="column-3" hx-get="{% url 'team_logo' game.home_team.pk %}" hx-target="this" hx-trigger="load"></div>
    </div>
    <br clear="both">
    {% endfor %}
</div>

{% endblock %}