{% extends "base.html" %}

{% load markitup %}


{% block title %}
    {{ game.away_team }}-{{ last_score.away_runs }}
    {% if game.neutral_site %} vs. {% else %} at {% endif %}
    {{ game.home_team }}-{{ last_score.home_runs }}
{% endblock %}

{% block header %}
    {{ game.away_team }}-{{ last_score.away_runs }}
    {% if game.neutral_site %} vs. {% else %} at {% endif %}
    {{ game.home_team }}-{{ last_score.home_runs }}
{% endblock %}


{% block content %}

<div class="column-12">
    {% for entry in entries %}
    <hr>
    <div class="column-12">

        {% if entry.include_scoreboard %}

        <h3>
            {% if entry.scoreboard.outs == 3 %}
                End of {{ entry.scoreboard.inning_part | lower }} of inning {{ entry.scoreboard.inning_num }}
                    {% if entry.scoreboard.game_status == "final" %}(FINAL){% endif %}:
            {% else %}
                {{ entry.scoreboard.inning_part }} of inning {{ entry.scoreboard.inning_num }} with {{ entry.scoreboard.outs }} outs:
            {% endif %}
        </h3>

        <p><em>Team Totals:</em></p>
        <ul>
            <li><p><b>{{ game.away_team.mascot }}</b>: <b>{{ last_score.away_runs }}</b> runs | {{ last_score.away_hits }} hits | {{ last_score.away_errors }} errors</p></li>
            <li><p><b>{{ game.home_team.mascot }}</b>: <b>{{ last_score.home_runs }}</b> runs | {{ last_score.home_hits }} hits | {{ last_score.home_errors }} errors</p></li>
        </ul>

        {% endif %}

        {% autoescape off %}{{ entry.blog_entry | markitup }}{% endautoescape %}
        
   
    </div>
    <br clear="both">
    {% endfor %}
</div>


{% endblock %}