{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}<h1>{{ page_title }}</h1>
    {% if spring_year < 2026 %}
        <p><em>*Schedules for years before 2026 are limited to games with 
            complete live game blogs via this app. Not all games are listed.</em?
        </p>
    {% endif %}
{% endblock %}


{% block content %}

{% include "live_game_blog/includes/game_list.html" %}

{% include "live_game_blog/includes/add_game_button.html" %}

{% endblock %}