@charset "utf-8";

// Set Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Recursive:wght@500&display=swap');

// Set jovian34 brand colors
$olive: #D7D8A8;
$yellow: #f0e0c0;
$cream: #dbdfbb;
$green: #3c652b;
$green-lite: #669900;
$grey: #cccccc;
$grey-dark: #999;
$crimson: #990000;
$red: #fa0404;
$black: black;
$black-subtle: #222;
$white: white;
$blue: blue;


// Set global variables
$font-head: 'Mochiy Pop One', sans-serif;
$font-text: 'Recursive', sans-serif;
$body-background-color: $grey;
$body-text-color: $black;
$link: $crimson;
$link-visited: $crimson;
$link-active: $red;
$footer-background-color: $cream;
$footer-text-color: $grey-dark;


// Import other applied scss files
@import "partial/phone-default.scss";
@import "partial/tablet.scss";
@import "partial/desktop.scss";


// version 0.0.4