{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <img src={{ conference.logo_url }} class="conf-logo" alt="{{ conference.long_name }}">
    <h1>{{ page_title }}</h1>
{% endblock %}


{% block content %}

{% for team in teams %}
<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">
        <img src="{{ team.logo }}" class="team-logo">
        <h3>{{ team.team_name }}</h3>
    </div>
</div>
{% endfor %}

{% endblock %}