{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <h1>{{ page_title }}</h1>
{% endblock %}


{% block content %}


{% for start_date in start_dates %}
<div class="column-12 clear-both">
    <div class="column-3"></div>
    <div class="column-6">
        
            <h2>Week {{ forloop.counter }} starting 
                <a href="{% url "conf_schedule_week" spring_year start_date.month start_date.day %}">
                    {{ start_date|date:"l, F j" }}:
                </a>
            </h2>
            {% for matchup in series %}
                {% if matchup.start_date == start_date %}

                    {% partialdef series %}
                        <div class="column-12 clear-both" id="series-{{ matchup.pk }}">
                            <h1 class="matchup">
                            {% if perms.conference.change_confseries %}
                                <button hx-get="{% url 'add_away_win' matchup.pk %}"
                                        hx-target="#series-{{ matchup.pk }}"
                                        type="button">
                                    +1
                                </button>
                            {% endif %}

                            <span class="at-symbol">{{ matchup.away_wins|floatformat:"-1" }}</span>
                            <img class="team-logo-sched" src="{{ matchup.away_team.logo }}" alt="{{ matchup.away_team.team_name }}">
                            <span class="at-symbol">@</span>
                            <img class="team-logo-sched" src="{{ matchup.home_team.logo }}" alt="{{ matchup.home_team.team_name }}">
                            <span class="at-symbol">{{ matchup.home_wins|floatformat:"-1" }}</span>

                            {% if perms.conference.change_confseries %}
                                <button hx-get="{% url 'add_home_win' matchup.pk %}"
                                        hx-target="#series-{{ matchup.pk }}"
                                        type="button">
                                    +1
                                </button>
                                <button hx-get="{% url 'add_tie' matchup.pk %}"
                                        hx-target="#series-{{ matchup.pk }}"
                                        type="button">
                                    tie
                                </button>
                            {% endif %}
                            </h1>
                        </div>    
                    {% endpartialdef %}

                    {% partial series %}

                {% endif %}            
            {% endfor %}
        
        {% if perms.conference.add_confseries %}
        <a href="{% url "add_series" spring_year %}"><button>Add a series</button></a>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}