{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
    <h1>{{ page_title }}</h1>
{% endblock %}


{% block content %}

<div class="column-12 clear-both">
  <div class="column-3"></div>
  <div class="column-6">
    {% for team in standings %}
      <div class="column-12 clear-both">
        <img class="team-logo" src="{{ team.logo }}">
        <h2>{{ forloop.counter }}. {{ team.team_name }}</h2>
        {% if team.computed_wins %}{% endif %}
        <p>{{ team.computed_wins|floatformat:"-1" }} wins / {{ team.computed_losses|floatformat:"-1" }} losses
            ({{ team.computed_win_pct|floatformat:3 }})</p>
        <p>RPI Rank: {{ team.computed_rpi_rank }}</p>
          {% if team.tie_breaker %}
            <p><em>{{ team.tie_breaker }}</em></p>
          {% endif %}
          <hr>
          {% if forloop.counter == 12 %}
              <h2>====== B1G Tournament Cut Line =======</h2>
          {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}