                        <div class="column-12 clear-both" id="series-{{ matchup.pk }}">
                            <h1 class="matchup">
                            {% if not pick.pick_home %}
                                <span class="at-symbol">&#x2713;</span>
                            {% endif %}
                            <span class="at-symbol">{{ matchup.away_wins|floatformat:"-1" }}</span>
                            <img class="team-logo-sched" hx-get="{% url "choose_pick_away" matchup.pk  %}" hx-target="#series-{{ matchup.pk }}" src="{{ matchup.away_team.logo }}" alt="{{ matchup.away_team.team_name }}">
                            <span class="at-symbol">@</span>
                            <img class="team-logo-sched" hx-get="{% url "choose_pick_home" matchup.pk  %}" hx-target="#series-{{ matchup.pk }}" src="{{ matchup.home_team.logo }}" alt="{{ matchup.home_team.team_name }}">

                            <span class="at-symbol">{{ matchup.home_wins|floatformat:"-1" }}</span>
                            {% if pick.pick_home %}
                                <span class="at-symbol">&#x2713;</span>
                            {% endif %}
                            </h1>
                        </div>